<!DOCTYPE html>
<html>

<head>
    <title>Verifica tu correo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            background-color: #f5f5f5;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #1ab5e6;
            border-radius: 5px;
        }

        .button:hover {
            background-color: #ebc246;
        }
    </style>
</head>

<body>
    <h1><%= username %>!, hemos actualizado su correo </h1>
    <p>Ahora solo debes verificar tu direcci贸n de correo electr贸nico, haz clic en el
        siguiente bot贸n:</p>
    <p><a href="<%= link %>" class="button">Verificar correo electr贸nico</a></p>
</body>

</html>